flows.json
[{"id":"b46afc1a.2d9ca","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"8ab6d4f3.c0f7a8","type":"ibmiot in","z":"b46afc1a.2d9ca","authentication":"apiKey","apiKey":"1925bf8c.7f882","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234567","applicationId":"","deviceType":"SBU","eventType":"Data","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":155.7869110107422,"y":110.84374237060547,"wires":[["51a6f6f9.6dcea8"]]},{"id":"a477e287.bfa86","type":"debug","z":"b46afc1a.2d9ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":588.7812271118164,"y":114.2613582611084,"wires":[]},{"id":"f37bebc1.6e9488","type":"http in","z":"b46afc1a.2d9ca","name":"http request-- distance","url":"/distance","method":"get","upload":false,"swaggerDoc":"","x":182.78690338134766,"y":290.90621185302734,"wires":[["f848b6c7.ecd4d8"]]},{"id":"f848b6c7.ecd4d8","type":"function","z":"b46afc1a.2d9ca","name":"pasing response","func":"msg.payload={\"distance\":global.get(\"distance\")};\nreturn msg;","outputs":1,"noerr":0,"x":406.7869110107422,"y":319.3522615432739,"wires":[["f48fd316.7d3af"]]},{"id":"f48fd316.7d3af","type":"http response","z":"b46afc1a.2d9ca","name":"distance response","statusCode":"","headers":{},"x":613.7840423583984,"y":290.9431838989258,"wires":[]},{"id":"51a6f6f9.6dcea8","type":"function","z":"b46afc1a.2d9ca","name":"","func":"global.set(\"distance\",msg.payload.d.distance)\nreturn {payload:msg.payload.d.distance};","outputs":1,"noerr":0,"x":366.51133728027344,"y":114.93465423583984,"wires":[["a477e287.bfa86","9583622b.54103"]]},{"id":"9583622b.54103","type":"switch","z":"b46afc1a.2d9ca","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"10","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":408.7841033935547,"y":187.93181610107422,"wires":[["307a227.c0abdde"],["a0654ce4.14889"]]},{"id":"a0654ce4.14889","type":"template","z":"b46afc1a.2d9ca","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Slot is Available","output":"str","x":522.7925834655762,"y":258.928955078125,"wires":[["b2a20153.df59a"]]},{"id":"307a227.c0abdde","type":"template","z":"b46afc1a.2d9ca","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Slot is Occupied","output":"str","x":569.0142097473145,"y":170.00566959381104,"wires":[["b2a20153.df59a"]]},{"id":"b2a20153.df59a","type":"ui_text","z":"b46afc1a.2d9ca","group":"f1d68cb3.e5b91","order":8,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":686.7812347412109,"y":229.21021270751953,"wires":[]},{"id":"1925bf8c.7f882","type":"ibmiot","z":"","name":"Project","keepalive":"60","serverName":"rwle5y.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"f1d68cb3.e5b91","type":"ui_group","z":"","name":"Sensor Data","tab":"e7cc0cba.d65cb","disp":true,"width":"6"},{"id":"e7cc0cba.d65cb","type":"ui_tab","z":"","name":"Smart Home","icon":"dashboard"}]